*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

main{
    width: 100%;
    height: 80vh;
    display: grid;
    grid-template-rows: 1fr 4fr;
}

.section-one{
    width: 100%;
    height: 100%;
    background-image: url(../images/subscribe-bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.section-one .cover{
    width: 100%;
    height: 100%;
    background-color: rgba(177, 177, 177, 0.144);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-two{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-two .formContent{
    width: 80%;
    height: 80%;
    box-shadow: 1px 1px 1px 1px;
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.section-two .formContent form{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 2fr 1fr;
    text-align: center;
    gap: 5px;
}
.map iframe{

    width: 100%;
    height: 100%;
}
form h3{
    position: relative;
    top: 20px;
}
.inputs{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.inputs input{
    width: 45%;
    height: 60%;
}
textarea{
    width: 96%;
    position: relative;
    left: 2%;
}
button{
    width: 20%;
    height: 50%;
    position: relative;
    left: 40%;
    top: 10px;
}