/* 

CSS File 

1-  General CSS
2-  Navbar CSS
3-  Home CSS 
4-  Features CSS 
5-  Footer CSS

*/

/* General CSS Start */
:root {
  --font: "Roboto", sans-serif;
  --headline-font: "Dancing Script", cursive;
  --main-color: #c33;
  --secondary-color: #666;
  --margin-b: 20px;
  --padding-b: 50px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  padding: 0;
  margin: 0;
}
.special-heading{
  margin-bottom: 50px;
}
.special-heading .highlight-headline {
  text-align: center;
  display: block;
  color: var(--main-color);
  font-family: var(--headline-font);
  text-transform: capitalize;
  font-weight: bold;
  margin-bottom: 20px;
}
.special-heading .heading {
  text-align: center;
  font-family: var(--font);
  text-transform: capitalize;
  font-weight: bold;
  margin-bottom: 20px;
  font-size: 36px;
}
/* General CSS End */
/* Navbar CSS Start */
nav {
  position: fixed;
  width: 100%;
  height: 70px;
  top: 0;
  left: 0;
  line-height: 70px;
  z-index: 100;
  transition: 0.5s;
}
nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--font);
}
nav .container .logo img {
  max-width: 100%;
  max-height: 100%;
}
nav .container .nav-content {
  display: flex;
  align-items: center;
  gap: 20px;
  position: relative;
}
nav .container .nav-content .links {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 20px;
}
nav .container .nav-content .links li {
  list-style: none;
}
nav .container .nav-content .links li a {
  text-decoration: none;
  color: var(--secondary-color);
}
nav .container .nav-content .phone {
  display: flex;
  align-items: center;
  gap: 20px;
}
nav .container .nav-content .phone img {
  max-width: 30px;
  max-height: 30px;
}
nav .container .nav-content .phone a {
  text-decoration: none;
  color: var(--secondary-color);
}
nav .list {
  display: none;
}

/* Navbar CSS End */
/* Home CSS Start */
.home {
  background: url(../images/banner-bg.jpg);
  background-size: cover;
  height: fit-content;
  position: relative;
}
.home .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 50px;
  position: relative;
}
.home .container .home-content {
  width: 500px;
}
.home .container .home-content .highlight {
  display: block;
  font-family: var(--headline-font);
  text-transform: capitalize;
  font-size: 18px;
  font-weight: bold;
  color: var(--main-color);
}
.home .container .home-content .headline {
  font-family: var(--font);
  text-transform: capitalize;
  font-size: 3rem;
  color: #000;
}
.home .container .home-content .headline a {
  color: var(--main-color);
  text-decoration: underline;
}
.home .container .home-content .text {
  color: var(--secondary-color);
  line-height: 1.7;
  font-family: var(--font);
  font-size: 16px;
  margin-bottom: 30px;
}
.home .container .home-content .order {
  display: flex;
  align-items: center;
  gap: 50px;
}
.home .container .home-content .order .order-btn {
  text-transform: capitalize;
  background-color: var(--main-color);
  padding: 15px 20px;
  font-size: 14px;
  color: #fff;
  border: 2px solid transparent;
  font-weight: bold;
  border-radius: 3px;
  transition: 0.5s;
}
.home .container .home-content .order .order-btn:hover {
  background-color: transparent;
  color: var(--main-color);
  border-color: var(--main-color);
}
.home .container .home-content .order .watch {
  display: flex;
  align-items: center;
  gap: 20px;
  font-family: var(--font);
  text-transform: capitalize;
  font-weight: 700;
}
.home .container .home-content .order .watch .circle {
  display: block;
  width: 50px;
  height: 50px;
  background-color: var(--main-color);
  border-radius: 50%;
}
.home .container .image {
  width: 500px;
}
.home .container .image img {
  max-width: 100%;
}
.home .container .bolls {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  width: fit-content;
  display: flex;
  gap: 10px;
}
.home .container .bolls span {
  display: block;
  width: 50px;
  height: 4px;
  background-color: #aaa;
  transition: 0.5s;
}
.home .container .bolls span.active {
  background-color: var(--main-color);
}
.home .container .bolls span:hover {
  background-color: var(--main-color);
  cursor: pointer;
}
.home .links-social {
  display: flex;
  gap: 40px;
  transform: rotate(90deg) translateY(-50%);
  position: absolute;
  right: -120px;
  top: 40%;
}
.home .links-social li {
  list-style: none;
}
.home .links-social li a {
  text-decoration: none;
  text-transform: capitalize;
  color: var(--secondary-color);
  font-family: var(--font);
  font-weight: 300;
  font-size: 14px;
}
/* Home CSS End */

/* Features CSS Start */
.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  align-items: center;
  gap: 20px;
  padding: 80px 0;
}
.features .container .feature-item {
  text-align: center;
  border: 1px solid #eee;
  padding: 20px;
  height: fit-content;
}
.features .container .feature-item .feature-icon {
  width: 100px;
  margin-bottom: 10px;
}
.features .container .feature-item h2 {
  font-size: 20px;
  text-transform: capitalize;
  font-family: var(--font);
  font-weight: bold;
}
.features .container .feature-item .text {
  font-size: 14px;
  font-family: var(--font);
  font-weight: 400;
  color: var(--secondary-color);
}
.features .container .feature-item .read-more {
  font-size: 16px;
  font-family: var(--font);
  font-weight: bold;
  text-transform: capitalize;
  color: var(--secondary-color);
  text-decoration: none;
  display: block;
  width: fit-content;
  padding: 0 15px;
  margin: auto;
  position: relative;
}
.features .container .feature-item .read-more::after,
.features .container .feature-item .read-more::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: var(--secondary-color);
  right: 0;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}
.features .container .feature-item .read-more::before {
  left: 0;
}

/* Features CSS End */

/* Menu CSS Start */
.specials-menu{
  background: url(../images/bg-blog.png);
  background-size: cover;
  padding: 50px 0;
}
.specials-menu .container .category {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.specials-menu .container .category li {
  list-style: none;
  text-align: center;
  text-transform: capitalize;
  font-family: var(--headline-font);
  font-weight: bold;
  position: relative;
  width: 80px;
  transition: .5s;
}
.specials-menu .container .category li.active a {
  color: var(--main-color);
}
.specials-menu .container .category li::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  left: 0;
  bottom: 10px;
  transition: 1s;
  background-color: var(--main-color);
}
.specials-menu .container .category li.active::after {
  width: 100%;
}
.specials-menu .container .category img {
  width: 70px;
}
.specials-menu .container .category a {
  text-decoration: none;
  color: #000;
  transition: 1s;
}
.specials-menu .container .category li:hover a {
  color: var(--main-color);
}
.specials-menu .container .category li:hover::after {
  width: 100%;
}
.specials-menu .container .menu-items{
  display: grid;
  grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
  gap: 30px;
  align-items: center;
  padding-bottom: 50px;
}
.specials-menu .container .menu-image{
  width: 100%;
}
.specials-menu .container .menu-image img{
  max-width: 100%;
}
.specials-menu .container .menu-info {
 background-color: #fff; 
 padding: 20px;
}
.specials-menu .container .menu-info .title{
  font-size: 18px;
  text-transform: capitalize;
  font-family: var(--font);
  font-weight: bold;
  margin-bottom: 20px;
}
.specials-menu .container .menu-info .desc{
  font-size: 16px;
  font-family: var(--font);
  color: var(--secondary-color);
  font-weight: 300;
  margin-bottom: 20px;
}
.specials-menu .container .menu-info .price{
  font-size: 14px;
  font-family: var(--font);
  color: var(--main-color);
  text-transform: capitalize;
  font-weight: bold;
  margin-bottom: 20px;
  display: block;
}
/* Menu CSS End */

/* Mobile App CSS Start */
.mobile-app .container {
  background: url(../images/app-bg.png);
  background-size: cover;
  margin: 150px auto ;
  position: relative;
}
.mobile-app .container .mobile-app-content{
  padding: 50px 40px;
}
.mobile-app .container .mobile-app-content .title{
  width: 400px;
  font-size: 36px;
  text-transform: capitalize;
  font-family: var(--font);
  font-weight: bold;
  margin-bottom: 20px;
}
.mobile-app .container .mobile-app-content .desc{
  width: 500px;
  font-size: 16px;
  font-family: var(--font);
  font-weight: 300;
  color: var(--secondary-color);
  margin-bottom: 20px;
}
.mobile-app .container .mobile-app-content .links {
  display: flex;
  gap: 20px;

}
.mobile-app .container .mobile-app-content .icons{
  display: flex;
  gap: 20px;
  position: absolute ;
  right: 0;
  top: 0;
}
.mobile-app .container .mobile-app-content .icons img{
  max-width: 200px;
}
.mobile-app .container .mobile-app-content .icons img:first-child{
  transform: translateY(50px);
}
/* Mobile App CSS End */

/* Footer CSS Start */

footer {
  color: #fff;
  background: url(../images/footer-bg.png);
  background-size: cover;
  position: relative;
  z-index: 1;
}
footer .container .footer-items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  padding-top: 35px;
  gap: 20px;
}
footer .container .footer-item .heading {
  font-family: var(--font);
  font-size: 20px;
  text-transform: capitalize;
}
footer .container .footer-item .short-line {
  display: block;
  width: 70px;
  height: 2px;
  background-color: #fff;
  margin-bottom: 25px;
}
footer .container .footer-items .logo {
  margin-bottom: 20px;
}
footer .container .footer-items .logo img {
  max-width: 120px;
}
footer .container .footer-item .desc {
  height: fit-content;
  margin-bottom: 20px;
  font-family: var(--font);
  font-weight: 300;
  font-size: 14px;
  color: #fff;
  line-height: 1.7;
}
footer .container .footer-item:nth-child(1) ul li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  list-style: none;
  font-family: var(--font);
  font-size: 14px;
  text-transform: capitalize;
  font-weight: 300;
  color: #fff;
  width: 250px;
  margin-bottom: 20px;
}
footer .container .footer-item:nth-child(1) ul li i {
  display: block;
  font-size: 25px;
  width: 30px;
  height: 30px;
}
footer .container .footer-item:nth-child(1) ul li p {
  margin: 0;
  width: 180px;
}
footer .container .footer-item:nth-child(2) ul li {
  list-style: none;
  font-family: var(--font);
  font-size: 14px;
  text-transform: capitalize;
  font-weight: 300;
  margin-bottom: 15px;
}
footer .container .footer-item:nth-child(2) ul li a {
  text-decoration: none;
  color: #fff;
}
footer .container .footer-item:nth-child(3) .pics {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
footer .container .footer-item:nth-child(3) img {
  max-width: 80px;
}
footer .container .footer-item .subscribe {
  display: flex;
  margin-bottom: 20px;
}
footer .container .footer-item input {
  border: 0;
  outline: 0;
  padding: 15px 10px;
  flex: 2;
  width: 100%;
}
footer .container .footer-item input[type="submit"] {
  border: 0;
  background-color: var(--main-color);
  color: #fff;
  transition: 0.5s;
  flex: 1;
}

footer .container .footer-item:nth-child(4) ul {
  display: flex;
  gap: 15px;
  padding: 0 10px;
}
footer .container .footer-item:nth-child(4) ul li {
  list-style: none;
  font-family: var(--font);
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 300;
  margin-bottom: 15px;
}
footer .container .footer-item:nth-child(4) ul li a {
  color: #fff;
}
footer .container .footer-item input[type="submit"]:hover {
  background-color: rgb(128, 31, 31);
}
.footer-last-term {
  background-color: var(--dark-bg);
  padding-top: 50px;
  position: relative;
}
.footer-last-term::after {
  content: "";
  position: absolute;
  top: 25px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #444;
}
.footer-last-term .container .text {
  font-family: var(--font);
  font-size: 15px;
  text-transform: capitalize;
  color: #bbb;
  text-align: center;
  padding: 20px 0;
  margin-bottom: 0;
}
/* Footer CSS End */